/* Device's Breadkpoint */

/*

- iPad
portrait: 768px
landscape: 1024px

- iPhone 6+
portrait: 414px
landscape: 736px

- iPhone 6
portrait: 375px
landscape: 667px

- iPhone 5 and 5S
portrait: 320px
landscape: 568px

- iPhone 4 and 4S
portrait: 320px
landscape: 480px

*/
