/* style.scss */
a, .block-development .col-left .staff-item .overlay, .block-development .col-right .staff-item .overlay, .block-development .col-left .staff-item .caption, .block-development .col-right .staff-item .caption {
  transition: all .3s;
  -ms-transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s; }

a, .block-development .col-left .staff-item .overlay, .block-development .col-right .staff-item .overlay, .block-development .col-left .staff-item .caption, .block-development .col-right .staff-item .caption {
  transition: all .3s;
  -ms-transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s; }

.wrapper:before, .wrapper:after {
  content: "";
  display: table; }
.wrapper:after {
  clear: both; }

/* common style */
html {
  overflow-x: hidden; }

body {
  position: relative;
  font-family: "Open Sans", Aria, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #464646; }

ul, ol {
  margin: 0;
  padding: 0; }
  ul li, ol li {
    list-style: none;
    margin: 0;
    padding: 0; }

a {
  color: #464646;
  text-decoration: none !important;
  outline: none !important; }
  a:hover, a:active {
    color: #f96536;
    text-decoration: none; }
  a:focus {
    outline: none; }

.wrapper {
  margin: 0 auto;
  width: 960px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative; }

/*--- Wrapper Responsive ---*/
@media screen and (max-width: 1119px) {
  .wrapper {
    width: 960px; } }
@media screen and (max-width: 1023px) {
  .wrapper {
    width: 960px; } }
@media screen and (max-width: 979px) {
  .wrapper {
    width: 780px; } }
@media screen and (max-width: 799px) {
  .wrapper {
    width: 740px; } }
@media screen and (max-width: 767px) {
  .wrapper {
    width: 620px; } }
@media screen and (max-width: 639px) {
  .wrapper {
    width: 440px; } }
@media screen and (max-width: 479px) {
  .wrapper {
    width: 300px; } }

/* Lay out */
#header, #main, #footer {
  margin: 0 auto; }

.block {
  margin-bottom: 30px; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }
.clearfix:after {
  clear: both; }

.image-wrapper img {
  width: 100%; }

/* Button */
.fr-btn {
  display: inline-block;
  border-radius: 5px;
  font-size: 18px;
  line-height: 40px;
  background-color: #f96536;
  color: #fff; }

.btn-1 {
  padding: 0 35px; }
  .btn-1:hover {
    color: #fff; }

.btn-2 {
  border: 1px solid #fff;
  padding: 0 60px; }
  .btn-2:hover {
    color: #fff; }

/* Header */
header {
  padding: 25px 0; }
  header .logo {
    float: left; }
  header nav.nav-desktop {
    float: right; }
    header nav.nav-desktop li {
      float: left; }
      header nav.nav-desktop li.active a {
        color: #f96536; }
      header nav.nav-desktop li:last-child {
        border: 1px solid #f96536;
        border-radius: 4px; }
      header nav.nav-desktop li a {
        display: block;
        padding: 0 15px;
        line-height: 30px; }
        header nav.nav-desktop li a:hover {
          color: #f96536; }

#header .navbar-toggle {
  border: 1px solid #f96536;
  margin: 0;
  padding: 7px 6px; }
#header .navbar-toggle .icon-bar {
  background-color: #f96536; }
#header .navbar-nav {
  margin: 0; }
#header .navbar-collapse {
  margin-top: 10px;
  padding-top: 5px;
  border-top: 1px solid #f96536;
  padding-left: 0;
  padding-right: 0; }
#header .navbar-nav > li > a {
  padding-top: 8px;
  padding-bottom: 8px; }
#header .navbar-collapse .navbar-nav > li.active > a {
  color: #f96536; }

/* footer */
.footer-top {
  padding: 80px 0 45px; }

.company-info {
  margin-bottom: 20px; }
  .company-info .footer-logo {
    margin-bottom: 20px; }
  .company-info p {
    line-height: 24px;
    margin-bottom: 15px; }

.block-contact, .block-links {
  padding-top: 5px;
  margin-bottom: 20px; }
  .block-contact h2, .block-links h2 {
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 15px; }

.block-contact p {
  margin-bottom: 0px;
  line-height: 24px; }

.block-links li {
  margin-bottom: 10px; }
  .block-links li a span {
    margin-right: 10px; }

.footer-bottom {
  padding: 45px 40px;
  border-top: 1px solid #e1e1e1;
  text-align: center; }
  .footer-bottom p {
    color: #7d7d7d; }

#back-top {
  width: 44px;
  height: 44px;
  background-color: #f96536;
  border-radius: 50%;
  position: absolute;
  bottom: 100px;
  left: 50%;
  margin-left: -22px;
  cursor: pointer;
  text-align: center; }
  #back-top span {
    color: #fff;
    line-height: 38px;
    font-size: 30px; }

/* social link */
.fr-social-links li {
  float: left;
  margin-right: 15px; }
  .fr-social-links li:last-child {
    margin-right: 0; }
  .fr-social-links li a {
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 5px;
    border: 1px solid #f96536;
    color: #f96536;
    line-height: 34px;
    font-size: 18px;
    text-align: center; }

.fr-block h2 {
  font-size: 50px;
  font-weight: bold;
  line-height: 60px;
  margin-bottom: 10px; }
.fr-block .desc {
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  color: #959595;
  margin-bottom: 30px; }

/* Block Why Us */
.block-why-us {
  text-align: center;
  padding: 130px 0 100px; }
  .block-why-us h2 {
    color: #f96536; }
  .block-why-us .desc {
    font-size: 24px; }
  .block-why-us .fr-btn {
    margin-bottom: 90px; }
  .block-why-us .block-image {
    margin-bottom: 50px;
    position: relative; }
    .block-why-us .block-image .overlay {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: -webkit-linear-gradient(90deg, #c10819 0%, #f3b91f 100%);
      background: linear-gradient(90deg, #c10819 0%, #f3b91f 100%);
      opacity: 0.5; }
  .block-why-us .image-wrapper {
    float: left;
    width: 33.3333333%; }
    .block-why-us .image-wrapper img {
      width: 100%; }
  .block-why-us .block-content p {
    font-size: 24px; }

/* block service */
.block-service {
  margin-bottom: 130px; }
  .block-service .service-item {
    margin-bottom: 50px; }
    .block-service .service-item h3 {
      font-size: 18px;
      font-weight: bold; }

/* block vision */
.block-vision {
  margin-bottom: 130px; }
  .block-vision .block-sm {
    margin-bottom: 45px; }

/* block client */
.block-client {
  margin-bottom: 140px; }
  .block-client .desc {
    margin-bottom: 75px; }
  .block-client .client-item {
    padding-bottom: 30px;
    margin-bottom: 25px; }

/* block development */
.block-development {
  padding-bottom: 50px; }
  .block-development .desc {
    margin-bottom: 50px; }
  .block-development .col-left .staff-item, .block-development .col-right .staff-item {
    margin-bottom: 5px;
    position: relative; }
    .block-development .col-left .staff-item:hover .caption,
    .block-development .col-left .staff-item:hover .overlay, .block-development .col-right .staff-item:hover .caption,
    .block-development .col-right .staff-item:hover .overlay {
      opacity: 1; }
    .block-development .col-left .staff-item .overlay, .block-development .col-right .staff-item .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      background: -webkit-linear-gradient(0deg, rgba(193, 6, 25, 0.5) 0%, rgba(255, 145, 31, 0.5) 100%);
      background: linear-gradient(0deg, rgba(193, 6, 25, 0.5) 0%, rgba(255, 145, 31, 0.5) 100%);
      opacity: 0; }
    .block-development .col-left .staff-item .caption, .block-development .col-right .staff-item .caption {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      color: #fff;
      opacity: 0; }
      .block-development .col-left .staff-item .caption .name, .block-development .col-right .staff-item .caption .name {
        font-size: 24px;
        margin-bottom: 0; }
      .block-development .col-left .staff-item .caption .position, .block-development .col-right .staff-item .caption .position {
        font-size: 18px;
        font-weight: bold; }
    .block-development .col-left .staff-item img, .block-development .col-right .staff-item img {
      width: 100%; }
  .block-development .col-left {
    float: left;
    width: 48%; }
  .block-development .col-right {
    float: right;
    width: 52%;
    padding-left: 5px; }
  .block-development .team-intro {
    padding-left: 15px; }
    .block-development .team-intro p {
      font-size: 18px;
      margin-bottom: 30px; }

/* block career */
.block-career h2 {
  padding: 60px 0;
  font-weight: 300; }

.owl-career .career-item {
  padding-right: 5px; }
  .owl-career .career-item img {
    width: 100%; }

.owl-theme .owl-controls.clickable .owl-buttons div:hover {
  opacity: 1; }

.owl-theme .owl-controls {
  margin: 0; }
  .owl-theme .owl-controls .owl-buttons div {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 75px;
    content: '';
    margin: 0;
    padding: 0;
    border-radius: 0;
    background: -webkit-linear-gradient(0deg, rgba(193, 6, 25, 0.5) 0%, rgba(255, 145, 31, 0.5) 100%);
    background: linear-gradient(0deg, rgba(193, 6, 25, 0.5) 0%, rgba(255, 145, 31, 0.5) 100%);
    opacity: 1; }
    .owl-theme .owl-controls .owl-buttons div span {
      position: absolute;
      top: 50%;
      color: #fff;
      font-size: 50px;
      margin-top: -25px; }
  .owl-theme .owl-controls .owl-buttons div.owl-prev {
    left: 0; }
    .owl-theme .owl-controls .owl-buttons div.owl-prev span {
      left: 50%;
      margin-left: -10px; }
  .owl-theme .owl-controls .owl-buttons div.owl-next {
    right: 0; }
    .owl-theme .owl-controls .owl-buttons div.owl-next span {
      right: 50%;
      margin-right: -10px; }

.career-bottom {
  background-color: #f96536;
  padding: 60px 0; }
  .career-bottom p {
    font-size: 36px;
    line-height: 40px;
    color: #fff;
    float: left; }
  .career-bottom .fr-btn {
    float: right;
    position: relative; }
    .career-bottom .fr-btn:before {
      position: absolute;
      content: '';
      top: 100%;
      left: 50%;
      width: 52px;
      height: 83px;
      margin-top: 10px;
      margin-left: -26px;
      background: url(images/click.png) top left no-repeat; }

.block-sm h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #f96536;
  text-transform: uppercase; }
.block-sm p {
  font-size: 18px; }

/* Responsive Style */
/*	
	- iPad Portrait
	- iPhone 6 Plus Landscape
	- ...
*/
/*
	- iPhone 6 Landscape
	- Samsung Galaxy S4 Landscape
	- ...
*/
/*
	- Google Nexus 5 Landscape
	- iPhone 5 Landscape	
	- iPhone 4 Landscape
	- ...
*/
/*
	- iPhone 6 Plus Portrait
	- iPhone 6 Portrait
	- Google Nexus 5 Portrait
	- Samsung Galaxy S4
	- ...
*/
@media screen and (max-width: 479px) {
  nav.nav-desktop {
    display: none; }

  .block-why-us {
    padding-top: 0; }

  .block-why-us .fr-btn {
    margin-bottom: 30px; }

  .fr-block h2 {
    font-size: 30px;
    line-height: 1.3; }

  .block-why-us .desc {
    font-size: 18px; }

  .team-image {
    margin-bottom: 20px; }

  .career-bottom {
    text-align: center; }
    .career-bottom p, .career-bottom .fr-btn {
      float: none; }
    .career-bottom p {
      margin-bottom: 20px; }

  .footer-bottom {
    padding: 30px 0; }

  #back-top {
    bottom: 70px; }

  .block-why-us .block-content p {
    font-size: 20px; }

  .owl-theme .owl-controls .owl-buttons div {
    width: 50px; } }

/*# sourceMappingURL=style.css.map */
