$font-body: "Open Sans", Aria, sans-serif;

$color1: #464646;
$color2: #f96536;

%transition {
    transition: all .3s;
    -ms-transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
}

%transition {
    transition: all .3s;
    -ms-transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
}

%clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin bw($min-width, $max-width) {
  @media screen and (min-width: $min-width) and (max-width: $max-width) {@content;}
}
@mixin min($min-width) {
  @media screen and (min-width: $min-width) {@content;}
}
@mixin max($max-width) {
  @media screen and (max-width: $max-width) {@content;}
}